<!-- TEMPLTE PER LA CREAZIONE DELLEE PAGINE DI AMMINISTRAZIONE  -->
<!-- NOTA: Usa getThemePartPath() con passData per caricare automaticamente i partial del tema admin
<%- include( passData.themeSys.getThemePartPath( 'head.ejs', passData ) ) %>
<%- include( passData.themeSys.getThemePartPath( 'header.ejs', passData ) ) %>

<!-- api prefix -->
<span id="apiPrefix" style="display: none;"><%- passData.apiPrefix %></span>
<script>
    const apiPrefix = document.getElementById('apiPrefix').innerText;
</script>

<!-- adminPrefix -->
<span id="adminPrefix" style="display: none;"><%- passData.adminPrefix %></span>
<script>
    const adminPrefix = document.getElementById('adminPrefix').innerText;
</script>

<h1>pagina di admin ed adessio vediamo come fare</h1>

<%- include( passData.themeSys.getThemePartPath( 'footer.ejs', passData ) ) %>