<!-- TEMPLATE PER LA CREAZIONE DELLE PAGINE DI AMMINISTRAZIONE  -->
<!-- NOTA: Usa getThemePartPath() con passData (che contiene isAdminContext: true) -->
<!--       per caricare automaticamente i partial del tema admin -->
<%- include( passData.themeSys.getThemePartPath( 'head.ejs', passData ) ) %>
<%- include( passData.themeSys.getThemePartPath( 'header.ejs', passData ) ) %>

<!-- api prefix -->
<span id="apiPrefix" style="display: none;"><%- passData.apiPrefix %></span>
<script>
    const apiPrefix = document.getElementById('apiPrefix').innerText;
</script>

<!-- adminPrefix -->
<span id="adminPrefix" style="display: none;"><%- passData.adminPrefix %></span>
<script>
    const adminPrefix = document.getElementById('adminPrefix').innerText;
</script>
<!-- se la query string contiene un valore valido di username allora si tratta si un aggiornamento altrimenti di un nuovo utente ed in questo caso isNewUser sarà true -->
<script>
    // Funzione per ottenere il valore della query string
    const urlParams = new URLSearchParams(window.location.search);
    const isNewUser = !urlParams.has('username') || !urlParams.get('username').trim();

    document.addEventListener('DOMContentLoaded', () => {
       
        const usernameField = document.getElementById('username');

        if (isNewUser) {//se l'utente è nuovo allora il campo username è editabile
            usernameField.disabled = false;
        } else {// se l'utente è già esistente allora il campo username non è editabile
            usernameField.disabled = true;
            usernameField.value = urlParams.get('username') || '';
        }
    });
</script>


<div class="text-center mb-4">
    <h1 class="text-center">Aggiungi un nuovo utente</h1>
</div>

<div class="container mt-4">

    <form id="createUserForm" class="mt-3"><!-- style="display: none;" -->
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Inserisci username" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Inserisci email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Inserisci password" required>
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">Ruolo</label>
            <select class="form-select" id="role" required>
                <option value="" disabled selected>Seleziona un ruolo</option>
                <!-- Options will be dynamically populated -->
            </select>
        </div>
        <button type="submit" class="btn btn-success">Salva</button>
    </form>
</div>

<script>
/*     document.getElementById('createUserBtn').addEventListener('click', function () {//questo evento rende visibile il form
        const form = document.getElementById('createUserForm');
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
        window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' });
    }); */

    async function populateRoleSelect() {
        try {
            const roleSelect = document.getElementById('role');
            // Fetch role list
            const roleResponse = await fetch(`/${apiPrefix}/simpleAccess/roleList`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (!roleResponse.ok) {
                throw new Error(`HTTP error! status: ${roleResponse.status}`);
            }

            const rolesData = await roleResponse.json();
            const roles = rolesData.roles;

            // Populate role select dropdown
            if (roles && Object.keys(roles).length > 0) {
                Object.keys(roles).forEach(roleId => {
                    const roleOption = document.createElement('option');
                    roleOption.value = roleId;
                    roleOption.textContent = roles[roleId].name;
                    roleSelect.appendChild(roleOption);
                });
            } else {
                const noRoleOption = document.createElement('option');
                noRoleOption.value = "";
                noRoleOption.textContent = "Nessun ruolo disponibile";
                noRoleOption.disabled = true;
                roleSelect.appendChild(noRoleOption);
            }
        } catch (error) {
            console.error('Errore nel caricamento dei ruoli:', error);
            alert('Errore nel caricamento dei ruoli. Riprova più tardi.');
        }
    }

    document.addEventListener('DOMContentLoaded', populateRoleSelect);

    document.getElementById('createUserForm').addEventListener('submit', async function (event) {
        event.preventDefault();

        const username = isNewUser ? document.getElementById('username').value : urlParams.get('username');
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const roleId = document.getElementById('role').value;

        //console.log({ username, email, password, roleId, isNewUser })

        try {
            const response = await fetch(`/${apiPrefix}/simpleAccess/usertUser`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, email, password, roleId, isNewUser })
            });

            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }

            const result = await response.json();

            if (result.success) {
/*                 const successMessage = document.createElement('div');
                successMessage.id = 'successMessage';
                successMessage.className = 'alert alert-success mt-3';
                successMessage.textContent = result.success; //qui conterrà il messaggio di successo
                document.getElementById('createUserForm').style.display = 'none';
                document.getElementById('createUserForm').after(successMessage); */
                alert(result.success);
                const existingErrorMessage = document.getElementById('errorMessage');// cancello eventuali messaggi di errore precedenti 
                if (existingErrorMessage) {
                    existingErrorMessage.textContent = '';
                }               
            } else if (result.error) {
                const errorMessage = document.createElement('div');
                errorMessage.id = 'errorMessage';
                errorMessage.className = 'alert alert-danger mt-3';
                errorMessage.textContent = result.error; // Messaggio di errore
                document.getElementById('createUserForm').after(errorMessage);

                if (result.errorType === 'all') {
                    // Evidenzia tutti i campi
                    ['username', 'email', 'password', 'role'].forEach(field => {
                        const inputField = document.getElementById(field);
                        if (inputField) {
                            inputField.classList.add('is-invalid');
                        }
                    });
                } else {
                    // Evidenzia solo il campo specifico
                    const inputField = document.getElementById(result.errorType);
                    if (inputField) {
                        inputField.classList.add('is-invalid');
                    }
                }
            } else {
                throw new Error('Errore sconosciuto.');
            }
            //alert('Utente creato con successo!');
            document.getElementById('createUserForm').reset();
            //document.getElementById('createUserForm').style.display = 'none';// rende il form non più visibile
        } catch (error) {
            console.error('Errore:', error);
            alert('Errore nella creazione dell\'utente. error: ' + error.message);
        }
    });
</script>

<%- include( passData.themeSys.getThemePartPath( 'footer.ejs', passData ) ) %>